.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
.main-main{
    border-radius: 120px;
    
}

.main-main img{
    border-radius: 50%;
}

